body{
    margin: 0px;
    padding: 0px;
}
.div1{
    background-color: rgb(233, 221, 206);
    height: 530px;
    width: 100%;
}

*{
    margin: 0px;
    padding: 0px;

}
.fa-user {
    font-size: larger;
    color: rgb(88, 58, 22);
    padding-top: 6px;

}
.fa-cart-plus{
    font-size: larger;
    color: rgb(88, 58, 22);
    padding-top: 6px;
}

.navbar{
    background-color: rbg(0,0,0,0.3);

}
.navbar a{
    font-size: 16px;
    color: rgb(88, 58, 22);
    padding-top: 10px;
}

a.dropdown-item {
    margin-left: 10px;
    padding-left: 0px;
    width: 200px;
    cursor: pointer;
}
a.dropdown-item :hover{
    padding: 30px;
    color: goldenrod;
    margin-left: 0px;
    padding-left: 0pz;
}

.collapse{
    margin-left: 20%;
    

}
.collapse a{
    margin-left: 10px;

}
.collapse a:hover{
    color: goldenrod;
    border-bottom: 2px solid goldenrod;
    transition: 0.5s;
}
.card-body{
    padding: 10px 10px 10px 10px;
    height: 310px;
}
.card{
     height: auto; 
 
}
.img1{
    width: 100%;
    height: 200px;
}
.head1{
    font-size: 45px;
font-family: 'Times New Roman', Times, serif;
padding-top: 15px;
color:darkgoldenrod;
text-align: center;
font-style: italic;
}
.span3{
color: rgb(88, 58, 22);
}
p{
text-align: center;
font-size: large;
}
h4{
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4:hover{
    color: goldenrod;
}
.card-body:hover{
    
    border: 2px solid transparent;
    /* font-weight: bold; */
}
.card-body::before{
    width: 100%;
   height:100%; 
   z-index: 1;
    content:'';
   position: absolute;
   top:0;
   left:0;
   box-sizing: border-box;
   -webkit-transform: scale(0);
   transition: 0.8s;
 }
 .card-body::after {
    width: 100%;
   height:100%; 
   z-index: 1;
    content:'';
   position: absolute;
   top:0;
   left:0;
   box-sizing: border-box;
   -webkit-transform: scale(0);
   transition: 0.8s;
 }

.card-body::before{
        
        border-top: 2px solid goldenrod;
        border-bottom: 2px solid saddlebrown;
        -webkit-transform-origin: 100% 0%;
        transition: 0.4s;
}
.card-body::after{
        border-right: 2px solid goldenrod ;
        border-left: 2px solid saddlebrown;
        -webkit-transform-origin: 0% 100%;
        transition: 0.4s;
        
}
.card-body:hover::after, .card-body:hover::before {
    -webkit-transform: scale(1);
    transition: 0.7s;
} 
.p9{
    color: rgb(87, 54, 15);

}
.btn01{
    outline: none;
    border: none;
    text-decoration: none;
    background: none;
  }
  .sale{
    border-radius: 10%;
    position: absolute; 
   top: 4%;
   left: 305px;
   background: rgb(88, 58, 22);
   padding:  6px;
   text-align: center;
   line-height: 1; 
   font-family: arial;
   color: goldenrod;
  
  }

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background-image: url(../images/simple2.png) ;
  opacity: 0.9; ;
   background-repeat: no-repeat;
   background-size: cover;
  position: relative;
 
  
}
.footer-cta {
  border-bottom: 1px solid saddlebrown;
}
.single-cta i {
  color: saddlebrown;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  margin-left: 60px;
}
.cta-text {
  padding-left: 10px;
  display: inline-block;
}
.cta-text h4 {
  color: saddlebrown;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #3d3232;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-logo h1{
    color: saddlebrown;
    font-family: cursive;
}
.footer-logo a:hover{
    text-decoration: none;
    /* color: goldenrod; */
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #312b2b;
  line-height: 28px;
}
.footer-social-icon span {
  color: saddlebrown;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  
}
.footer-social-icon a:hover{
  text-decoration: none;
  color: white;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;

}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.youtube-bg{
  background-color: red;
}
.footer-widget-heading h3 {
  color: saddlebrown;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  margin-left: 90px;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: saddlebrown;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 10px;
  margin-left: -35px;
}
.footer-widget ul li a:hover{
  color: rgb(83, 52, 15);
  transition: 0.7s
}
.footer-widget ul li a {
  color: #252121;
  text-transform: capitalize;
  font-size: 14px;
  margin-left: 90px;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: saddlebrown;
    padding: 13px 20px;
    border: 1px solid  saddlebrown;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: goldenrod;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*End  footer */